# macOS
.DS_Store

# Node / Next.js
node_modules/
.next/
deployment/
yarn-error.log
npm-debug.log
package-lock.json
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/
poetry.lock
*.sqlite3

# Docker
*.log
*.pid
.docker-compose
sqlite/*.db
sqlite/*.db-*

# Editor
.idea/
.vscode/

# Misc
coverage/
*.swp
docs/
